<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/index.js"></script>
    <script>
        if(password == ''){
            responseData.code=2;
            responseData.message='mima is full';
            res.json(responseData);
            return;
        }
        //两次密码必须一致
        if(password != repassword){
            responseData.code=3;
            responseData.message='liang ci is diffrit';
            res.json(responseData);
            return;
        }
    </script>
</head>
<body>
      <header >
      	<div class="backimg"><img src="/public/images/IMG_0293.jpg"></div>
      	<div class="logo"><span></span><img src="/public/images/00002637.png"></div>
      </header>
<nav>
    <div class="menu">        
        <a href="/" class="focus">首页</a>       
        <a href="/">首页</a>
        <a href="/?category={{cate.id}}" class="focus"></a>
        <a href="/?category={{cate.id}}"></a>
    </div>
</nav>

<main class="clear">
          <div class="mainRight">
          <div class="rightBox" id="loginBox" style="display: none;">
            <div class="title"><span>登录</span></div>
            <div class="line"><span class="colDark">用户名：</span><input name="Username" type="text" /><em></em></div>
            <div class="line"><span class="colDark">密码：</span><input name="Password" type="password" /><em></em></div>
            <div class="line"><span class="colDark"></span><button>登 录</button></div>
            <p class="textRight">还没注册？<a href="javascript:;" class="colMint">马上注册</a>　</p>
            <p class="colWarning textCenter"></p>
        </div>
          <div class="rightBox" id="registerBox" >
            <div class="title"><span>注册</span></div>
            <div class="line"><span class="colDark">用户名：</span><input name="Username" type="text" /></div>
            <div class="line"><span class="colDark">密码：</span><input name="Password" type="password" /></div>
            <div class="line"><span class="colDark">确认：</span><input name="repassword" type="password" /></div>
            <div class="line"><span class="colDark"></span><button>注 册</button></div>
            <p class="textRight">已有账号？<a href="javascript:;" class="colMint">马上登录</a>　</p>
            <p class="colWarning textCenter"></p>
        </div>
         </div>
</main>

	
</body>
</html>